@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --text: hsl(206 75% 15%);
  --button-bg: hsl(206 90% 30%);
  --button-bg-highlighted: hsl(206 90% 40%);
  --accent: hsl(236 80% 70%);
}

body {
  font-family: "Figtree", sans-serif;
  background: white;
  color: var(--text);
  margin: 0;

  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;

  h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  a {
    display: block;
    min-width: 7rem;
    text-align: center;
    padding: 10px 15px;
    margin: 20px;
    background-color: var(--button-bg);
    border-radius: 20px;
    text-decoration: none;
    color: white;

    transition: background-color 0.2s ease-in-out;

    &:hover,
    &:focus-visible {
      background-color: var(--button-bg-highlighted);
    }

    &:focus-visible {
      outline: 4px solid var(--accent);
    }
  }
}
