@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --text: hsl(206 75% 15%);
  --text-highlight: hsl(206 75% 20%);
  --button-bg: hsl(206 90% 83%);
  --button-bg-highlighted: hsl(206 90% 88%);
}

body {
  font-family: "Figtree", sans-serif;
  background: white;
  color: var(--text);
  margin: 0;

  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 12pt;

  h1 {
    font-size: 30pt;
    margin-bottom: 0;
  }

  .links {
    margin-top: 10px;

    a {
      display: block;
      padding: 10px 15px;
      margin: 20px;
      background-color: var(--button-bg);
      border-radius: 20px;
      text-decoration: none;
      color: var(--text);

      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--text-highlight);
        background: var(--button-bg-highlighted);
      }
    }
  }
}
